
body{
    text-align: center;
    margin: auto;
    background-color: #e9f7da;
}
header li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    margin: 50px;
}
.home-menu{
display: flex;
align-items: center;
justify-content: space-around;
}

h1{
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
}
p{
    width: 45%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: medium;
}
section{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
    font-weight: medium;
    margin: auto;
}
footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #f9faf9;
}

@media only screen and (max-width: 800px){
    body{
        width: 400px;
        height: 100vh;
        text-align: center;
        margin: auto;
        background-color: #e9f7da;
    }
    header li{
        list-style: none;
        display: inline-block;
        padding: 10px;
        margin: 20px;
    }
    h1{
        font-family: monospace;
        font-size: 30px;
        font-weight: bold;
    }
    p{
        width: 70%;
        height: 80%;
        padding: 10px;
        margin: auto;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 20px;
        font-weight: medium;
    }
    section{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 20px;
        font-weight: medium;
        width: 90%;
        height: 100%;
        padding: 10px;
        margin: auto;
    }
    footer{
        position: fixed;
        left: 0px;
        bottom: 0px;
        height: 30px;
        width: 100%;
        background: #f9faf9;
    }
}