body{
    text-align: center;
    margin: auto;
    background-color: #e9f7da;
}
header li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    margin: 50px;
}
.home-menu{
display: flex;
align-items: center;
justify-content: space-around;
}
h1{
    font-family: monospace;
    font-size: 40px;
    font-weight: bold;
}
p{
    width: 45%;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: medium;
}
footer{
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background: #f9faf9;
}